<div class="row">
        <div class="col-md-2">
            <a href="/vehicles">
                <button type="button" class="btn btn-primary">&larr;Kthehu</button>
            </a>
        </div>
        <div class="col-md-2">
            <form action="/vehicles/<%= data._id %>?_method=DELETE" method="post">
                <button type="submit" class="btn btn-danger">Fshij</button>
            </form>
    </div>
</div>

<div>
    <h2 style="padding-bottom: 1%; padding-top: 1%;">Edito automjetin</h2>
    <form action="/vehicles/<%= data._id %>?_method=PUT" method="post">
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Modeli</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="colFormLabel" name="model" value="<%= data.model %>">
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Regjistrimi</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="colFormLabel" name="licensePlates"
                    value="<%= data.licensePlates %>">
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Viti i prodhimit</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="colFormLabel" name="yearOfProduction"
                    value="<%= data.yearOfProduction %>">
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Kilometrat</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="colFormLabel" name="kilometres"
                    value="<%= data.kilometres %>">
            </div>
        </div>
        <button type="submit" class="btn btn-success">Edito</button>
</div>
</form>
</div>