<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8">
                        <h2>Servisimet</h2>
                    </div>
                    <div class="col-sm-4 add-button">
                        <a href="/maintenances/<%= vehicleId %>/add-maintenance">
                            <button type="button" class="btn btn-primary">Shto</button>
                        </a>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Data e servisimit</th>
                        <th>Titulli</th>
                        <th>Shënime</th>
                        <th>Pagesa</th>
                        <th>Punëkryesi</th>
                        <th>Kontakti i punëkryesit</th>
                        <th>Veprime</th>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach((element, index)=> { %>
                        <tr>
                            <th scope="row">
                                <%= index+1 %>
                            </th>
                            <td>
                                <%= element.createdAt.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %>
                            </td>
                            <td>
                                <%= element.title %>
                            </td>
                            <td>
                                <%= element.notes %>
                            </td>
                            <td>
                                <%= element.price %>
                            </td>
                            <td>
                                <%= element.contractor %>
                            </td>
                            <td>
                                <%= element.contractorContact %>
                            </td>
                            <td>
                                <!-- <a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a> -->
                                <a href="/maintenances/update-maintenance/<%= element._id %>" class="edit" title="Edito"
                                    data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                <form action="/maintenances/<%= element._id %>?_method=DELETE" method="post" id="deleteForm">
                                <a href="#" class="delete" onclick="myFunction()" title="Fshij" data-toggle="tooltip"
                                    data-id="<%= element._id %>"><i class="material-icons" style="color: red;">&#xE872;</i></a>
                                </form>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    function myFunction() {
        document.getElementById("deleteForm").submit();
    }
</script>