<div class="container-xl">
    <div class="admin-title">
        <a href="/vehicles">
            <button type="button" class="btn btn-primary">&larr;Kthehu</button>
        </a>
    </div>
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8">
                        <h2>Serviset</h2>
                    </div>
                    <div class="col-sm-4 add-button">
                        <a href="/services/<%= vehicleId %>/add-service">
                            <button type="button" class="btn btn-primary">Shto</button>
                        </a>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Data e servisimit</th>
                        <th>Kilometrat</th>
                        <th>Vaji</th>
<th>Filteri i vajit</th>
                        <th>Filterat e naftës</th>
                        <th>Filterat e ajrit</th>
                        <th>Shënime</th>
                                                <th>Veprime</th>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach((element, index)=> { %>
                        <tr>
                            <th scope="row">
                                <%= index+1 %>
                            </th>
                            <td>
                                <%= element.createdAt.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %>
                            </td>
                            <td>
                                <%= element.kilometres %>
                            </td>
                            <td>
                                <%= element.oil === true ? 'Po' : 'Jo' %>
                            </td>
                            <td>
                                <%= element.oilFilter === true ? 'Po' : 'Jo'  %>
                            </td>
                            <td>
                                <%= element.fuelFilter === true ? 'Po' : 'Jo'  %>
                            </td>
                            <td>
                                <%= element.airFilter === true ? 'Po' : 'Jo'  %>
                            </td>
                            <td>
                                <%= element.notes %>
                            </td>
                            <td>
                                <!-- <a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a> -->
                                <a href="/services/update-service/<%= element._id %>" class="edit" title="Edito"
                                    data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                <a href="#" class="delete" onclick="myFunction('<%= element._id %>')" title="Fshij" data-toggle="tooltip"
                                       data-id="<%= element._id %>"><i class="material-icons" style="color: red;">&#xE872;</i>
                                    </a>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    function myFunction(elementId) {
        if (confirm('A jeni i sigurte qe doni te fshini servisin?')) {
            $.ajax({
                url:'/services/' + elementId,
                type:"DELETE",
                success: function(response) {
                    const vehicleId = location.pathname.split('/')[2];
                    window.location.href = '/services/GetByVehicleId/' + vehicleId;
                }
            });
        }
    }
</script>